.modal {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.modalContent {
    padding: 10px 20px 20px 20px;
    background-color: var(--lightest);
    width: 100%;
    max-width: 712px;
    border-radius: 4px;
    overflow: hidden auto;
    max-height: calc(100vh - 100px);
}

.modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 1px solid var(--light);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.modalClose {
    margin-left: auto;
}