body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.lock {
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, p, ul, ol {
  margin: 0;
}

:root {
  --lightest: #FFFFFF;
  --light: #EEEEEE;
  --medium: #8B8B8B;
  --primary: #2BCCEF;
  --primary-dark: #24AAC7;
  --secondary: #EFFAFC;
}
